.portfolio-menu {  

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        padding-bottom: 40px;
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media screen and (min-width: 1140px) {
        justify-content: space-between;
        margin-top: 94px;
        padding-bottom: 34px; 
    }
    
    &__list {
        margin: 0px auto;

        @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
        }
        
        @media screen and (min-width: 768px) {
                
        }
        
        @media screen and (min-width: 1140px) {
            width: 611px;
            height: 54px;
        }

        & li:not(:last-child) {
            margin-right: 8px;
        }

        & li:nth-child(-n+3) {
            
            @media screen and (min-width: 480px) {
               margin-bottom: 15px;
            }
            
            @media screen and (min-width: 768px) {
                margin-bottom: 0px;
            }
            
            @media screen and (min-width: 1140px) {
                
            }
        }
    }
    
    &__button {
        height: 38px;
        background-color: #F5F4FA;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        border: none;
        padding: 6px 22px;

        &:hover {
            background-color: $main-color;
            color: $base-color;
            transition-duration: 500ms;
            transition-delay: 250ms;
        }
    }
}

.portfolio-main {
    padding: 94px 215px;
}


