.portfolio-menu {
    padding-bottom: 34px;   
    margin-top: 94px;
    
    &__list {
        width: 611px;
        height: 54px;
        margin: 0px auto;
        justify-content: space-between;
    }
    
    &__button {
        height: 38px;
        background-color: #F5F4FA;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        border: none;
        padding: 6px 22px;

        &:hover {
            background-color: $main-color;
            color: $base-color;
            transition-duration: 500ms;
            transition-delay: 250ms;
        }
    }
}

.portfolio-main {
    padding: 94px 215px;
}


