.portfolio-menu {
      
    
    
    @media screen and (min-width: 480px) {
        margin-top: 60px;
        padding-bottom: 40px; 
    }
    
    @media screen and (min-width: 768px) {
        
    }
    
    @media screen and (min-width: 1140px) {
        margin-top: 94px;
        padding-bottom: 34px; 
    }

    &__list {
        

        @media screen and (min-width: 480px) {
            justify-content: space-between;
            flex-wrap: wrap;
            width: 450px;
            height: 91px;
        }
        
        @media screen and (min-width: 768px) {
            
        }
        
        @media screen and (min-width: 1140px) {
            width: 611px;
            height: 54px;
            margin: 0px auto;
        }
    }
    
    &__button {
        height: 38px;
        background-color: #F5F4FA;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        border: none;
        padding: 6px 22px;

        &:hover {
            background-color: $main-color;
            color: $base-color;
            transition-duration: 500ms;
            transition-delay: 250ms;
        }
    }
}


